<div class="col-lg-3">
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title text-center">Categories</h3>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills flex-column category-menu">
        <li>
          <%= link_to "Genre", categories_path, class: "nav-link" %>
          <%# <a href="#" class="nav-link active">Genre</a> %>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="nav-link">Comic</a>
            </li>
            <li>
              <a href="#" class="nav-link">Business</a>
            </li>
            <li>
              <a href="#" class="nav-link">Politics</a>
            </li>
            <li>
              <a href="#" class="nav-link">Science</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to "Author", authors_path, class: "nav-link" %>
          <%# <a href="#" class="nav-link">Author</a> %>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="nav-link">Amrita Pritam</a>
            </li>
            <li>
              <a href="#" class="nav-link">William Shakespeare</a>
            </li>
            <li>
              <a href="#" class="nav-link">Ruskin Bond</a>
            </li>
            <li>
              <a href="#" class="nav-link">R.K. Narayan</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to "Publisher", publishers_path, class: "nav-link" %>
          <%# <a href="#" class="nav-link">Publisher</a> %>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="nav-link"> Dolor</a>
            </li>
            <li>
              <a href="#" class="nav-link">Sumshfa</a>
            </li>
            <li>
              <a href="#" class="nav-link">Edubva</a>
            </li>
            <li>
              <a href="#" class="nav-link">Lorem</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
