<div class="col-lg-3">
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title text-center">Categories</h3>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills flex-column category-menu">
        <li>
          <h3>Genre</h3>
          <%# <a href="#" class="nav-link active">Genre</a> %>
          <ul class="list-unstyled">
            <% Category.all.each do | category | %>
              <li><%= link_to category.name, category_path(category.id), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3>Author</h3>
          <ul class="list-unstyled">
            <% Author.all.each do | author | %>
              <li><%= link_to author.name, author_path(author.id), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3>Publisher</h3>
          <ul class="list-unstyled">
            <% Publisher.all.each do | publisher | %>
              <li><%= link_to publisher.name, publisher_path(publisher.id), class: "nav-link" %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3>Price</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="nav-link"> Under ₹100</a>
            </li>
            <li>
              <a href="#" class="nav-link"> ₹100 - ₹200</a>
            </li>
            <li>
              <a href="#" class="nav-link"> ₹200 - ₹500</a>
            </li>
            <li>
              <a href="#" class="nav-link"> ₹500 - ₹1,000</a>
            </li>
            <li>
              <a href="#" class="nav-link"> Over ₹1,000</a>
            </li>
          </ul>
        </li>
        <li>
          <h3>Language</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="nav-link"> English</a>
            </li>
            <li>
              <a href="#" class="nav-link"> Gujarati</a>
            </li>
            <li>
              <a href="#" class="nav-link"> Hindi</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
